model = "cook_jaen"
source_train = "/clwork/yamagishi/corpus/cookpad/corpus.doc/step/train.step.doc.bpe8k.ja"
target_train = "/clwork/yamagishi/corpus/cookpad/corpus.doc/step/train.step.doc.bpe8k.en"
source_dev = "/clwork/yamagishi/corpus/cookpad/corpus.doc/step/dev.step.doc.bpe8k.ja"
source_test = "/clwork/yamagishi/corpus/cookpad/corpus.doc/step/test.step.doc.bpe8k.ja"

method = 'shared_source'

use_train_gpu = True
use_dev_gpu = True
use_test_gpu = True
gpu_device = 0

word2vec = 'Load'
word2vec_method = "CBoW"
word2vec_window_size = 5 
source_word2vec_file = "cook_jaen.source_word2vec"
target_word2vec_file = "cook_jaen.target_word2vec"

vocabulary = "Make"
source_vocabulary_file = "cook_jaen.source_vocabulary"
target_vocabulary_file = "cook_jaen.target_vocabulary"

bilstm_method = "FinalAdd"
attention_method = "LuongDot"
activation_method = "tanh"

epoch = 30
optimizer = "AdaGrad"
learning_rate = 0.01
clipping_threshold = 5
train_batch_size = 128
dev_batch_size = 128
test_batch_size = 1
pooling_size = 1000

use_pretrain = True
pretrain_epoch = 28

layer_size = 2
source_vocabulary_size = 40000
target_vocabulary_size = 40000
embed_size = 512
hidden_size = 512
use_dropout = True
dropout_rate = 0.2
use_residual = False

generation_limit = 100
use_beamsearch = True
beam_size = 5
use_unknownreplace = False
dictionary_path = ""

make_summarized_log = False
