model = "sample"
source_train = "/path/to/corpus/source/train_file"
target_train = "/path/to/corpus/target/train_file"
source_dev = "/path/to/corpus/source/dev_file"
source_test = "path/to/corpus/source/test_file"

method = "shared_source"

use_train_gpu = True
use_dev_gpu = True
use_test_gpu = True
gpu_device = 1

word2vec = "Make"
word2vec_method = "CBoW"
word2vec_window_size = 5 
source_word2vec_file = "sample.source_word2vec"
target_word2vec_file = "sample.target_word2vec"

vocabulary_method = "Make"
source_vocabulary_file = "sample.source_vocabulary"
target_vocabulary_file = "sample.target_vocabulary"

bilstm_method = "FinalAdd"
attention_method = "LuongDot"
activation_method = "tanh"

epoch = 30
optimizer = "Adam"
learning_rate = 0.01
clipping_threshold = 5
train_batch_size = 512
dev_batch_size = 512
test_batch_size = 1

use_pretrain = False
pretrain_epoch = 30

layer_size = 2
source_vocabulary_size = 40000
target_vocabulary_size = 40000
embed_size = 512
hidden_size = 512
use_dropout = True
dropout_rate = 0.2
use_residual = False

generation_limit = 100
use_beamsearch = True
beam_size = 5

make_summarized_log = False
